#!/usr/bin/make -f

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_test:
	GOCACHE=/tmp/go-cache.$$ make test -j 1

override_dh_systemd_enable:
	dh_systemd_enable --name=go-carbon

override_dh_installlogrotate:
	dh_installlogrotate --package go-carbon --name=go-carbon
